<div class="search_bar">
  <%= form_tag(comments_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "keyword" %>
  <%= submit_tag "Search comments", :name => nil %>
  <% end %>

</div>
<h1>Comments</h1>

<div>
  <% @comments.each do |c|%>
  <p>"<%= link_to c.body, comment_path(c) %>" </p>
  <p> updated at: <%= c.updated_at %></p>
  <p><%= link_to "Delete", comment_path(c), method: :delete, data: {confirm: "Are you sure?"}%> | <%= link_to "Edit", edit_comment_path(c) %></p>
  <hr>
  <% end %>
</div>
<%= will_paginate @comments %>
