<div class="auth-container">

  <h1 class="title">Edit User Profile</h1>

  <div class="notice">
    <%= @user.errors.full_messages.join(",") %>
  </div>

  <div>
    <%= form_for @user do |f|%>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
<br />
<div>
  <%= f.submit %>
  <%= link_to "Change password", user_password_path(@user)  %>

</div>
<% end %>
</div>




</div>
