<div class="auth-container">
  <h1>Change password</h1>

  <div class="notice">
    <%= @user.errors.full_messages.join(",") %>
  </div>

  <div>
    <%#= form_for @post, as: :post, url: post_path(@post), method: :patch, html: { class: "edit_post", id: "edit_post_45" } do |f| %>
    <%# end %>
    <%= form_for @user, url: user_password_path(@user), method: :patch do |f| %>
    <div>
      <%= f.label "current password" %>
      <%= f.password_field :old_password %>
    </div>

    <div>
      <%= f.label "new password" %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label "confirm password" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "update password"%>
    </div>

    <% end %>

  </div>

</div>
