<style>
.directory{
  text-align: center;
  font-size: 30px;
  font-family:sans-serif;
}
</style>

<div class="auth-container">
  <% if user_signed_in? %>
  <h1 class="title">MY POSTS</h1> |
  <%=link_to "Create New Post", new_post_path  %> |
  <%= link_to "Edit profile", user_path(current_user) %>
  <!-- <p class="directory">Welcome <%= link_to current_user.full_name, user_path(current_user) %></p> -->
  <!-- <h1 class="header">YOU HAVE <%= @posts.count %> POSTS</h1> -->
  <div>
    <% if @posts.size > 0 %>
    <%  @posts.each do |p| %>
    <p class="post-title"><%= image_tag "flame.gif", class: "title-image" %> <%= link_to p.title, post_path(p) %> <span class="footer">(posted on: <%= p.created_at.strftime("%d-%b-%Y") %>)</span></p>
    <div  class="post-body-preview">
      <p><%= raw p.body %></p>
    </div>
    <% end %>
    <% else %>
    <h2>You don't have any posts yet!</h2>
    <% end %>
  </div>
  <% else %>
  <div class="directory">
    <h1> WELCOME! </h1>
    <%= link_to "Login", new_session_path  %> |
    <%= link_to "Sign up", new_user_path  %>
    <% end %>
  </div>
</div>
