

<div class="post-container">
  <% if @post.errors.full_messages.size > 0 %>
  <div class="alert"><%= @post.errors.full_messages.join(",") %></div>
  <% end %>
<%= form_for @post do |f| %>
<%# f is form object %>
<div class="form-group form-group-lg">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" ,placeholder:"TITLE"%>
</div>

<div class="form-group">
  <%= f.label :Category %>
  <%= f.collection_select(:category_id, Category.all, :id, :title, prompt:true)  %>
</div>

<div class="form-group">
  <%= f.label :blog %>
  <%= f.text_area :body, class: "form-control",placeholder:"BODY", rows: "7"%>
</div>

<div>
  <%= f.submit class:"btn btn-info" %>
  <%# byebug %>
  <% if @post.id != nil %>
  <%= link_to "Cancel", post_path(@post) %>
  <% else  %>
  <%# byebug %>
  <%= link_to "Cancel", posts_path, class:"btn btn-default" %>
  <% end  %>
</div>
<% end %>
</div>
