
  <div class="notice"><%= @post.errors.full_messages.join(",") %></div>

<div class="post-container">
<%= form_for @post do |f| %>
<%# f is form object %>
<div>
  <%= f.text_field :title, class: "post-title-text" ,placeholder:"TITLE"%>
</div>

<div>
  <%= f.label :Category %>
  <%= f.collection_select(:category_id, Category.all, :id, :title, prompt:true) %>
</div>

<div>
  <%= f.text_area :body, class: "post-body-text",placeholder:"BODY", cols: "10", rows: "10"%>
</div>

<div>
  <%= f.submit %>
  <%# byebug %>
  <% if @post.id != nil %>
  <%= link_to "Cancel", post_path(@post) %>
  <% else  %>
  <%# byebug %>
  <%= link_to "Cancel", posts_path %>
  <% end  %>
</div>
<% end %>
</div>
