
<div class="post-container">
  <h1 class="title"><%= image_tag "heart.jpg", class: "title-image" %> <%= @post.title %>  </h1><strong> <br>#<%= @category.title %></strong>
  <p class="post-content"><%= raw@post.body %></p><br>
    <p class="footer">
      <% if @post.updated_at > @post.created_at %>
      <%= "UPDATED AT:  #{@post.updated_at} " %>
      <% else %>
      <%="CREATED AT: #{@post.created_at}" %>
      <% end %> by <%= link_to @post.user.full_name, user_path(@post.user) %></p>

      <div>
        <p>
          <% if can? :manage, @post %>
          <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure?"} %> |<%= link_to "Edit", edit_post_path %> |
          <% end %>

          <% if user_signed_in? %>
          <%= link_to "Comment", "#comment-textarea" %></p>
          <% end %>
        </div>
      </div>
      <!-- <hr /> -->
      <div class="comments-container">
        <div class="comments">
          <p><strong>THIS POST HAS <%= @comments.size %> COMMENTS:</strong></p>

          <% if @comments.size > 0 %>
          <ul>
            <% @comments.each do |x| %>
            <li class="comments"><%= x[:body] %> <br>
              <span class="footer"><%= x[:created_at] %> by <%=link_to x.user.full_name, user_path(x.user) %>
                <% if can? :destroy, x %>
                <%= link_to "Delete", post_comment_path(@post, x), method: :delete, data: {confirm: "Are you sure?"}%>
                <% end %>
                <% if can? :manage, x %>
                |<%= link_to "Edit", post_comment_path(@post, x) %>
                <% end %>
              </span></li>
              <% end %>
            </ul>
            <% end %>
          </div>

          <% if user_signed_in? %>
          <div class="comments">
            <%= form_for [@post, Comment.new] do |f|  %>
            <div>
              <%= f.label :body, value="Comment" %><br/>
              <%= f.text_area :body , class: "comment-textarea", id: "comment-textarea", cols: "65", rows: "5" %>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>

            <div>
              <%= f.submit %>
            </div>

            <% end %>

          </div>
          <% else %>
          <div class="comments">
            <%= link_to "Log in", new_session_path %> to leave a comment!</div>
            <% end %>


          </div>
