<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "blog.css" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <% if user_signed_in? %>
    <%= link_to "My Posts", root_path %>
    <% else %>
    <%= link_to "Home", root_path %>
    <% end %> |
    <%= link_to "All Posts", posts_path%> |
    <% if user_signed_in? %>
    <%#= link_to "NEW POST", new_post_path%>
    <% end %>
    <%= link_to "About", about_path%> |
    <% if user_signed_in? %>
    <%= link_to "Sign out", sessions_path, method: :delete %> |
    Hi, <%= link_to current_user.first_name, user_path(current_user) %>
    <% else %>
    <%= link_to "Log In", new_session_path %> |
    <%= link_to "New User", new_user_path %>
    <% end %>
  </div>
  <embed class="music" src="audio/Divorce_Papers_-_Arcade_Fire_Her_Soundtrack.mp3" autostart="true" loop="true" hidden="true">
    <%= image_tag "banner.jpg", class: :banner %>
    <div class="notice"> <%= notice || alert %></div>
    <%= yield %>
  </body>
  </html>
