<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "blog.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <%= link_to "HOME", root_path %>&nbsp;|
    <%= link_to "POSTS", posts_path%>&nbsp;|
    <% if user_signed_in? %>
    <%= link_to "NEW POST", new_post_path%>&nbsp;|
    <% end %>
    <%#= link_to "COMMENTS", comments_path%>
    <%#= link_to "NEW COMMENT", new_comment_path%>
    <%= link_to "ABOUT", about_path%> |
    <% if user_signed_in? %>
    <%= link_to "SIGN OUT", sessions_path, method: :delete %> |
    Hello, <%= link_to current_user.full_name, user_path(current_user) %>
    <% else %>
    <%= link_to "LOG IN", new_session_path %> |
    <%= link_to "NEW USER", new_user_path %>
    <% end %>
  </div>
  <embed class="music" src="audio/so.mp3" autostart="true" loop="true" hidden="true">

    <%= image_tag "banner.jpg", class: :banner %>
  <!--
  <img class="banner" src="http://images.freepicturesweb.com/img1/20/15/d/271.jpg"/> -->
  <div class="notice"> <%= notice || alert %></div>

  <%= yield %>
</body>
</html>
